In [2]:
import pandas as pd

# Working with Json

In [3]:
pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [5]:
pd.read_json('https://open.er-api.com/v6/latest/INR')

,result,provider,documentation,terms_of_use,time_last_update_unix,time_last_update_utc,time_next_update_unix,time_next_update_utc,time_eol_unix,base_code,rates
INR,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1749945751,"Sun, 15 Jun 2025 00:02:31 +0000",1750033421,"Mon, 16 Jun 2025 00:23:41 +0000",0,INR,1.000000
AED,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1749945751,"Sun, 15 Jun 2025 00:02:31 +0000",1750033421,"Mon, 16 Jun 2025 00:23:41 +0000",0,INR,0.042704
AFN,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1749945751,"Sun, 15 Jun 2025 00:02:31 +0000",1750033421,"Mon, 16 Jun 2025 00:23:41 +0000",0,INR,0.814285
ALL,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1749945751,"Sun, 15 Jun 2025 00:02:31 +0000",1750033421,"Mon, 16 Jun 2025 00:23:41 +0000",0,INR,0.994303
AMD,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1749945751,"Sun, 15 Jun 2025 00:02:31 +0000",1750033421,"Mon, 16 Jun 2025 00:23:41 +0000",0,INR,4.462874
...,...,...,...,...,...,...,...,...,...,...,...
XPF,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1749945751,"Sun, 15 Jun 2025 00:02:31 +0000",1750033421,"Mon, 16 Jun 2025 00:23:41 +0000",0,INR,1.203199
YER,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1749945751,"Sun, 15 Jun 2025 00:02:31 +0000",1750033421,"Mon, 16 Jun 2025 00:23:41 +0000",0,INR,2.844984
ZAR,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1749945751,"Sun, 15 Jun 2025 00:02:31 +0000",1750033421,"Mon, 16 Jun 2025 00:23:41 +0000",0,INR,0.208195
ZMW,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1749945751,"Sun, 15 Jun 2025 00:02:31 +0000",1750033421,"Mon, 16 Jun 2025 00:23:41 +0000",0,INR,0.283018
ZWL,success,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,1749945751,"Sun, 15 Jun 2025 00:02:31 +0000",1750033421,"Mon, 16 Jun 2025 00:23:41 +0000",0,INR,0.313796

# Working with sql

In [9]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\hp\anaconda3\lib\site-packages (2.2.9)

In [10]:
import mysql.connector

In [12]:
conn = mysql.connector.connect(host='localhost', user='root', password='', database='world')

In [13]:
pd.read_sql_query("select * from city", conn)

C:\Users\HP\AppData\Local\Temp\ipykernel_13256\403938748.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from city", conn)

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]